@{
    ViewBag.Title = "About";
}

<h2>Why Nash Bike Trip?</h2>
<h3>Ride smarter and safer! Also, support the open source community to make Davidson County an even better place.</h3>


@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<p>Nash Bike TripNash Bike Trip is my capstone project for the back end Evening Cohort 2 class at NSS. Motivation for this project came about after finding Data.Nashville.Gov 's open data that provides visibility into bike racks (Metro owned, some privately owned, and art installation bike racks) in Davidson County. I intend for this project to be used as a trip preparation tool for cyclists to be able to plan/view their route prior to their departure, and give them the location of the closest bike rack to their arriving location.</p>

<p></p>