@{
    ViewBag.Title = "Contact";
}
<h2>Questions? Comment?  Shoot us an email or give us a call!</h2>
@*<h2>@ViewBag.Title</h2>*@

<h3>We know, we know... We have work to do!  But let us know your thoughts, as this is only version 1 of Nash Bike Trip and we welcome any ideas or suggestions to make this app more helpful for the community.</h3>

<address>
    Nash Bike Trip<br />
   Nashville, TN<br />
    <abbr title="Phone">P:</abbr>
    865.223.8127
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jonathanhuffaker@gmail.com">jonathanhuffaker@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jonathanhuffaker@gmail.com">jonathanhuffaker@gmail.com</a>
</address>