@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nash Bike Trip<br />
   Nashville, TN<br />
    <abbr title="Phone">P:</abbr>
    865.223.8127
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jonathanhuffaker@gmail.com">jonathanhuffaker@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jonathanhuffaker@gmail.com">jonathanhuffaker@gmail.com</a>
</address>