@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nash Bike Trip</h1>
    <p class="lead">Nash Bike Trip is a free app for planning your bicycle trip in Nashville, TN.  Using data.Nashville.gov 's bike rack data, consisting of Metro owned bike racks, some privately owned bike racks and art installed bike racks in Davidson county, you know can plan your trip knowing where the closest bike rack is in relation to your destination.</p>
    <p><a href="/Trip/Create" class="btn btn-primary btn-lg">Try It Out! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Plan your trip</h2>
        <p>
            Now you can plan your trip before you depart, but also have a piece of mind knowing where you can park your bike.  Solid green lines reflect bike path greenways, while dotted green paths represent bike lanes.
        </p>
        <p><a class="btn btn-default" href="/Trip/Create">Plan or Save Trip &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Nash Bike Trip</h2>
        <p>Learn more about Nash Bike Trip!  We are just getting started, this is only version 1 ...</p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Questions? Comments?  We are always open to hear of ways our app can help the community!</p>
        <p><a class="btn btn-default" href="/Home/Contact">Learn more &raquo;</a></p>
    </div>
</div>